body {
        font-family: helvetica, sans-serif;
        width: 350px;
      }
  
      label {
        font-weight: bold;  
      }
  
      div {
        padding-bottom: 20px;
      }

      p {
        background: gray;
        color: black;
        padding: 10px;
        visibility: hidden;
      }
  
      